OEROOT = "##OEROOT##"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

# Add an local layers here (and for devtool)
BBLAYERS = ""

require ##OEROOT##/../meta-aws-iot/conf/devices/${DEVICE}/layers.conf

# optional
include ##OEROOT##/../meta-aws-iot/recipes-core/images/${IMAGE}/layers.conf

# filter duplicate layers
BBLAYERS := "${@' '.join(sorted(set('${BBLAYERS}'.split())))}"
